.img_div {
    width: 255px;
    height: 175px;
    border: 1px solid #DDC;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
}

.win {
    color: green;
}

.wrong {
    color: red;
}

.layout {
    width: 70%; 
    margin: 20px 0px auto; 
    padding: 20px; 
    border: 1px solid #CCC; 
    border-radius: 5px;
}