<!doctype html>
<html ng-app="gameApp">
<head>
    <title>The Game</title>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script type="text/javascript" src="/javascripts/ng/todo.js"></script>

    <link rel="stylesheet" href="/stylesheets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body class="container">
    <div class="header">
        <!-- <ul class="nav nav-pills pull-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul> -->
        <h3 class="text-muted">The Game</h3>
    </div>

    <div class="layout">
        <div class="row">
            <div class="col-md-7">
                <div class="img_div" >
                    <canvas id="canvas" width="255" height="175">
                    </canvas>
                </div>
                <br>


                <div ng-controller="TodoCtrl">
                </div>


            </div>
            <div class="col-md-5" ng-controller="TodoCtrl2">
                <select ng-model="selectedOpt" ng-change="foo()" >
                    <option disabled="disabled" selected="selected">Choose</option>
                    <option value="wild">Wild</option>
                    <option value="erdbeere">Erdbeere</option>
                    <option value="pine">Pineapple</option>
                    <option value="lemon">Lemon</option>
                    <option value="green">Green</option>
                    <option value="dewberry">Dewberry</option>
                </select>
                <!-- <img src="/images/SYM1.png" alt="" id="img"> -->
                <br><br>
                <button type="btn btn-success" ng-click="click()" id="btn">Spielen!</button>
                <br><br>
                <h2 id="text" ng-model="txt">{{txt}}</h2>
            </div>
        </div>
    </div>

</body>
</html>